.root {
    -fx-background-image: url("sfondo.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 1200 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#anchor {
    -fx-background-image: url("sfondo.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 1200 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#scroll {
    -fx-background-image: url("sfondo.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 1200 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.scroll-pane .viewport {
    -fx-background-image: url("sfondo.png");
}
    
.scroll-pane {
    -fx-background-image: url("sfondo.png");
}